- var btnAbout = "About"
- var descAbout = "Select the arrow icon to visit the About page"
- var btnProducts = "Products & Services"
- var descProducts = "Select the arrow icon to visit the Products & Services page"
- var btnDevelopers = "Partners & Developers"
- var descDevelopers = "Select the arrow icon to visit the Partners & Developers page"
- var btnSupport = "Support"
- var descSupport = "Select the arrow icon to visit the Support page"
- var btnCareers = "Careers"
- var descCareers = "Select the arrow icon to visit the Careers page"
- var btnMonIns = "Moneris Insights"
- var descMonIns = "Select the arrow icon to visit the Moneris Insights page"
- var btnAccessibility = "Accessibility"
- var descAccessibility = "Select the arrow icon to visit the Accessibility page"
- var btnPrivacy = "Privacy Policy"
- var descPrivacy = "Select the arrow icon to visit the Privacy Policy page"
- var btnTerms = "Terms of Use"
- var descTerms = "Select the arrow icon to visit the Terms of Use page"
- var btnLegal = "Legal"
- var descLegal = "Select the arrow icon to visit the Legal page"

- var footerH6 = "Questions? Call us"
- var sales = "Moneris Sales"
- var salesPhone = "Call 1-888-692-0321"
- var support = "Merchant Support"
- var supportPhone = "Call 1-888-319-77450"

- var twitter = "Twitter"
- var descTwitter = "Select the Twitter logo to visit Moneris on Twitter"
- var facebook = "Facebook"
- var descFacebook = "Select the Facebook logo to visit Moneris on Facebook"
- var linkedin = "Linkedin"
- var descLinkedin = "Select the Linkedin logo to visit Moneris on Linkedin"

- footerNav = [{class: "about", href: "#", title: btnAbout, desc: descAbout}, {class: "products", href: "#", title: btnProducts, desc: descProducts}, {class: "developers", href: "#", title: btnDevelopers, desc: descDevelopers}, {class: "support", href: "#", title: btnSupport, desc: descSupport}, {class: "careers", href: "#", title: btnCareers, desc: descCareers}, {class: "monIns", href: "#", title: btnMonIns, desc: descMonIns}, {class: "accessibility", href: "#", title: btnAccessibility, desc: descAccessibility}, {class: "privacy", href: "#", title: btnPrivacy, desc: descPrivacy}, {class: "terms", href: "#", title: btnTerms, desc: descTerms}, {class: "legal", href: "#", title: btnLegal, desc: descLegal}]
- var phoneNumbers = [{text: sales, title: salesPhone}, {text: support, title: supportPhone}]
- var socialNav = [{class: "soc-0", href: "#", title: twitter, name: "twitter", desc: descTwitter}, {class: "soc-1", href: "#", title: facebook, name: "facebook", desc: descFacebook}, {class: "soc-2", href: "#", title: linkedin, name: "linkedin", desc: descLinkedin}]