- var homeLogo = "Back to home page"
- var homeLogoDesc = "Select this Moneris logo to return to the home page"

//- ----------------------------INDUSTRIES MENU BEGIN--------------------------------------

- var btnIndustries = "Industries" // Top level
- var btnIndDesc = "Select this chevron to view or hide the Industries list"

- var indRetail = "Retail"
- var indRestaurant = "Restaurant"
- var indProfPrac = "Professional Practice"
- var indTradesperson = "Tradesperson"
- var indOnlineStore = "Online Store"
- var indNotForProf = "Not-for-Profit"

//- ----------------------------INDUSTRIES MENU END--------------------------------------

//- ----------------------------PRODUCTS & SERVICES MENU BEGIN--------------------------------------

- var btnProdServ = "Products & Services" // Top level
- var btnProdServDesc = "Select this chevron to view or hide the Products & Services list"

- var prodServCountWire = "Countertop & Wireless"

- var prodServMobTab = "Mobile & Tablet"
- var psmtPayd = "PAYD"
- var psmtPaydPro = "PAYD Pro"
- var psmtPaydProPlus = "PAYD PRO Plus"
- var psmtEselPlus = "eSelect Plus"
- var psmtIpadSol = "iPad Solutions"

- var prodServOnline = "Online"
- var psoEselPlus = "eSelect Plus"

- var prodServPosSoftInt = "POS Software Integration"

- var prodServSelfServKiosks = "Self-Service & Kiosks"

- var prodServBusSol = "Business Solutions"

//- ----------------------------PRODUCTS & SERVICES MENU END--------------------------------------

- var btnPartDev = "Partners & Developers" // Top level
- var btnPartDevDesc = "Select this chevron to view or hide the Products & Services list"
- var partDevStratPart = "Strategic Partners"
- var pdspStrPartPro = "Strategic Partner Program"
- var pdspContForm = "Contact Form"

- var partDevAlliPart = "Alliance Partnership"
- var pdapAlliPartProg = "Alliance Partner Program"
- var pdapContForm = "Contact Form"

- var partDevTechPart = "Technology Partners"
- var pdtpTechPart = "Technology Partners"
- var pdtpContForm = "Contact Form"

- var partDevMonDevPort = "Moneris Developer Portal"
- var pdmdpMonDevPort = "Moneris Developer Portal"

//- ----------------------------DEVELOPERS MENU BEGIN--------------------------------------

- var btnDevelopers = "Developers" // Top level

//- ----------------------------DEVELOPERS MENU END--------------------------------------

//- ----------------------------PARTNERS MENU BEGIN--------------------------------------

- var btnPartners = "Partners" // Top level

//- ----------------------------PARTNERS MENU END--------------------------------------

//- ----------------------------SUPPORT MENU BEGIN--------------------------------------

- var btnSupport = "Support" // Top level
- var btnSupportDesc = "Select this chevron to view or hide the Support list"

- var supItem1 = "Support item 1"

//- ----------------------------SUPPORT MENU END--------------------------------------

- var btnLogin = "Login"
- var btnLoginDesc = "Select this icon to view or hide the Login dropdown"
- var loginMerchDirect = "Merchant Direct"
- var loginEselectPlus = "eSelect Plus"
- var loginGiftWebPortal = "Gift Web Portal"
- var loginLoyaltyWebPortal = "Loyalty Web Portal"

- var btnLanguage = "En"
- var btnLanguageDesc = "Select this icon to view or hide the Language dropdown"
- var langCanEng = "Canada - English"
- var langCanEngDesc = "Select this icon to view the Canadian English version of this site"
- var langCanFr = "Canada - Français"
- var langCanFrDesc = "Select this icon to view the Canadian French version of this site"
- var langUsa = "USA Website"
- var langUsaDesc = "Select this icon to view the USA web site"

- var btnPhone = "Call"
- var btnPhoneDesc = "Select to call Moneris"
- var btnSearch = "Search"
- var btnSearchDesc = "Select to search Moneris.com"
- var btnSearchDescAlt = "Select to close the search overlay"
- var btnCloseSearchField = "Close search field"

- var btnToggleMenu = "Show navigation menu"
- var btnToggleMenuDesc = "Select this icon to display or close the navigation menu"

- var back = "Back"

- var divot = "Sub menu icon"
- var divotDesc = "The selected menu’s sub menu"

//-
  - var globalNav = [{class: "li-0", href: "#", title: btnProdServ, desc: btnProdServDesc, secondLevel: [{class: "li-0-0", href: "#", title: prodServPayTerm, thirdLevel: [{class: "", href: "#", title: psptCountTable}, {class: "", href: "#", title: psptShortRangeWire}, {class: "", href: "#", title: psptLongRangeWire}, {class: "", href: "#", title: psptTell}, {class: "", href: "#", title: psptPinPos}, {class: "", href: "#", title: psptQuiServSol}]}, {class: "li-0-1", href: "#", title: prodServEcomSol, thirdLevel: [{class: "", href: "#", title: psesOnlPay}, {class: "", href: "#", title: psesSecFraRisk}, {class: "", href: "#", title: psesEbusManTools}, {class: "", href: "#", title: psesShopCartInt}, {class: "", href: "#", title: psesSignUpECom}]}, {class: "li-0-2", href: "#", title: prodServBusManTools, thirdLevel: [{class: "", href: "#", title: psbmtGiftCar}, {class: "", href: "#", title: psbmtLoyProg}, {class: "", href: "#", title: psbmtMonAirMi}, {class: "", href: "#", title: psbmtRewRecSol}, {class: "", href: "#", title: psbmtOffSup}, {class: "", href: "#", title: psbmtSagAccErp}]}, {class: "li-0-3", href: "#", title: prodServIntSol, thirdLevel: [{class: "", href: "#", title: psisAdmin}, {class: "", href: "#", title: psisConvSto}, {class: "", href: "#", title: psisEdu}, {class: "", href: "#", title: psisGroc}, {class: "", href: "#", title: psisHealWell}, {class: "", href: "#", title: psisOilGas}, {class: "", href: "#", title: psisRest}, {class: "", href: "#", title: psisRet}]}]}, {class: "li-1", href: "#", title: btnPartDev, desc: btnPartDevDesc, secondLevel: [{class: "li-1-0", href: "#", title: partDevStratPart}, {class: "li-1-1", href: "#", title: partDevAlliPart, thirdLevel: [{class: "", href: "#", title: pdapAlliPartProg}, {class: "", href: "#", title: pdapContForm}]}, {class: "li-1-2", href: "#", title: partDevTechPart, thirdLevel: [{class: "", href: "#", title: pdtpTechPart}, {class: "", href: "#", title: pdtpContForm}]}, {class: "li-1-3", href: "#", title: partDevMonDevPort, thirdLevel: [{class: "", href: "#", title: pdmdpMonDevPort}]}]}, {class: "support", href: "#", title: btnSupport}, {class: "login", href: "#", title: btnLogin, desc: btnLoginDesc}]

//-
  - var globalNav = [
    {class: "li-0", href: "#", title: btnIndustries, desc: btnIndDesc, secondLevel: [
      {class: "li-0-0", href: "#", title: indRetail}, 
      {class: "li-0-1", href: "#", title: indRestaurant}, 
      {class: "li-0-2", href: "#", title: indProfPrac}, 
      {class: "li-0-3", href: "#", title: indTradesperson}, 
      {class: "li-0-4", href: "#", title: indOnlineStore}, 
      {class: "li-0-5", href: "#", title: indNotForProf}
    ]}, 
    {class: "li-1", href: "#", title: btnProdServ, desc: btnProdServDesc, secondLevel: [
      {class: "li-1-0", href: "#", title: prodServCountWire}, 
      {class: "li-1-1", href: "#", title: prodServMobTab, thirdLevel: [
        {class: "", href: "#", title: psmtPayd}, 
        {class: "", href: "#", title: psmtPaydPro}, 
        {class: "", href: "#", title: psmtPaydProPlus}, 
        {class: "", href: "#", title: psmtEselPlus}, 
        {class: "", href: "#", title: psmtIpadSol}
      ]}, 
      {class: "li-1-2", href: "#", title: prodServOnline, thirdLevel: [
        {class: "", href: "#", title: psoEselPlus}
      ]}, 
      {class: "li-1-3", href: "#", title: prodServPosSoftInt}, 
      {class: "li-1-4", href: "#", title: prodServSelfServKiosks}, 
      {class: "li-1-5", href: "#", title: prodServBusSol}
    ]}, 
    {class: "li-2", href: "#", title: btnDevelopers}, 
    {class: "li-3", href: "#", title: btnPartners}, 
    {class: "li-4", href: "#", title: btnSupport, desc: btnSupportDesc, secondLevel: [
      {class: "li-4-0", href: "#", title: supItem1}
    ]}, 
    {class: "login", href: "#", title: btnLogin, desc: btnLoginDesc}
  ]

- var globalNav = [{class: "li-0", href: "#", title: btnIndustries, desc: btnIndDesc, secondLevel: [{class: "li-0-0", href: "#", title: indRetail}, {class: "li-0-1", href: "#", title: indRestaurant}, {class: "li-0-2", href: "#", title: indProfPrac}, {class: "li-0-3", href: "#", title: indTradesperson}, {class: "li-0-4", href: "#", title: indOnlineStore}, {class: "li-0-5", href: "#", title: indNotForProf}]}, {class: "li-1", href: "#", title: btnProdServ, desc: btnProdServDesc, secondLevel: [{class: "li-1-0", href: "#", title: prodServCountWire}, {class: "li-1-1", href: "#", title: prodServMobTab, thirdLevel: [{class: "", href: "#", title: psmtPayd}, {class: "", href: "#", title: psmtPaydPro}, {class: "", href: "#", title: psmtPaydProPlus}, {class: "", href: "#", title: psmtEselPlus}, {class: "", href: "#", title: psmtIpadSol}]}, {class: "li-1-2", href: "#", title: prodServOnline, thirdLevel: [{class: "", href: "#", title: psoEselPlus}]}, {class: "li-1-3", href: "#", title: prodServPosSoftInt}, {class: "li-1-4", href: "#", title: prodServSelfServKiosks}, {class: "li-1-5", href: "#", title: prodServBusSol}]}, {class: "li-2", href: "#", title: btnDevelopers}, {class: "li-3", href: "#", title: btnPartners}, {class: "li-4", href: "#", title: btnSupport, desc: btnSupportDesc, secondLevel: [{class: "li-4-0", href: "#", title: supItem1}]}, {class: "login", href: "#", title: btnLogin, desc: btnLoginDesc}]

- var loginDropdown = [{href: "#", title: loginMerchDirect}, {href: "#", title: loginEselectPlus}, {href: "#", title: loginGiftWebPortal}, {href: "#", title: loginLoyaltyWebPortal}]
- var languageDropdown = [{class: "En", href: "/canEn", title: langCanEng, flag: "canada", desc: langCanEngDesc}, {class: "Fr", href: "/canFr", title: langCanFr, flag: "canada", desc: langCanFrDesc}, {class: "US", href: "http://monerisusa.com/", title: langUsa, flag: "usa", desc: langUsaDesc}]