- var tile0top = "Find your solution:"
- var tile0bottom = "Products & Services"
- var tile1top = "Transform your business:"
- var tile1bottom = "iPad Solutions"
- var tile2top = "Start integrating now:"
- var tile2bottom = "Developers"
- var tile3top = "Discover the latest"
- var tile3bottom = "Insights & Resources"
- var tile4top = "Get help 24/7"
- var tile4bottom = "Merchant Support"
- var tile5top = "Join our team"
- var tile5bottom = "Careers"

- var testAlt = "Shopkeeper hanging a product for display"
- var testName = "Avelin Harris"
- var testStore = "- Avelin Clothing"
- var testQuote = "“My sales have gone up 15% since I switched to an iPad solution.”"
- var testCta = "Read all testimonials"

- var insightAlt = "An Apple Pay terminal"
- var insightName = "Insight"
- var insightTitle = "Be Ready For Apple Pay."
- var insightArt = "For many Canadian merchants, deploying a new technology may seem daunting. But when the change involves payments…"
- var insightCta = "Read full article"

- var htcTiles = [{class: "tile-0", href: "#", titleTop: tile0top, titleBottom: tile0bottom}, {class: "tile-1", href: "#", titleTop: tile1top, titleBottom: tile1bottom}, {class: "tile-2", href: "#", titleTop: tile2top, titleBottom: tile2bottom}, {class: "tile-3", href: "#", titleTop: tile3top, titleBottom: tile3bottom}, {class: "tile-4", href: "#", titleTop: tile4top, titleBottom: tile4bottom}, {class: "tile-5", href: "#", titleTop: tile5top, titleBottom: tile5bottom}]