- var hfcH1 = "Be payment ready"
- var fcaSub = "Innovative payment processing solutions for businesses like yours."
- var hfc = "See Products"
- var hfcAlt = "Image of a barista pouring a cup of coffee for her customers"