meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
meta(name="viewport", content="width = device-width, initial-scale = 1")
title= title
meta(name="description", content=description)
meta(name="keywords", content=keywords)
meta(name="robots", content="noindex, nofollow")
//
  /**
    * @license
    * MyFonts Webfont Build ID 3108025, 2015-10-14T13:29:19-0400
    * 
    * The fonts listed in this notice are subject to the End User License
    * Agreement(s) entered into by the website owner. All other parties are 
    * explicitly restricted from using the Licensed Webfonts(s).
    * 
    * You may obtain a valid license at the URLs below.
    * 
    * Webfont: AvenirLT-Medium by Linotype
    * URL: http://www.myfonts.com/fonts/linotype/avenir/65-medium/
    * 
    * Webfont: AvenirLT-Roman by Linotype
    * URL: http://www.myfonts.com/fonts/linotype/avenir/55-roman/
    * 
    * Webfont: AvenirLT-Black by Linotype
    * URL: http://www.myfonts.com/fonts/linotype/avenir/95-black/
    * 
    * 
    * License: http://www.myfonts.com/viewlicense?type=web&buildid=3108025
    * Licensed pageviews: 2,000,000
    * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1981 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
    * 
    * © 2015 MyFonts Inc
   */
link(rel="stylesheet", media="all", href="/assets/Moneris/css/style.css")