script(src="/assets/Moneris/js/libraries/modernizr-2.8.3.js")
script(src="/assets/Moneris/js/plugins/detectizr-2.2.0.js")
script(src="/assets/Moneris/js/libraries/jquery-2.2.0.js")
script(src="/assets/Moneris/js/libraries/bootstrap/bootstrap/transition.js")
script(src="/assets/Moneris/js/libraries/bootstrap/bootstrap/dropdown.js")
script(src="/assets/Moneris/js/plugins/bootstrap-accessibility/js/dropdown.js")
//- script(src="/assets/Moneris/js/libraries/bootstrap/bootstrap/carousel.js")
//- script(src="/assets/Moneris/js/libraries/bootstrap/bootstrap/collapse.js")
//- script(src="/assets/Moneris/js/libraries/bootstrap/bootstrap/tab.js")
//- script(src="/assets/Moneris/js/plugins/imagesloaded.js")
//- script(src="/assets/Moneris/js/plugins/jquery.dotdotdot.js")
script(src="/assets/Moneris/js/custom/jquery.niceDetect.js")
script(src="/assets/Moneris/js/custom/jquery.dropdowns.js")
//- script(src="/assets/Moneris/js/custom/jquery.createCarousel.js")
//- script(src="/assets/Moneris/js/custom/jquery.createTabbedParagraphs.js")
//- script(src="/assets/Moneris/js/plugins/jquery.maskedInput.js")
//- script(src="/assets/Moneris/js/plugins/jquery-validate/jquery.validate.js")
//- script(src="/assets/Moneris/js/plugins/jquery-validate/jquery.additional-methods.js")
//- script(src="/assets/Moneris/js/custom/jquery.formValidations.js")
//- script(src="/assets/Moneris/js/custom/jquery.searchResults.js")
script(src="/assets/Moneris/js/custom/jquery.niceResponsive.js")