- var lang = "en"
- var title = "Moneris 2016 Realize: Homepage"
- var description = "The description goes here."
- var keywords = "the, keywords, go, here"

include ../includes/copy/homepage_video_fca_english.jade
include ../includes/copy/homepage_site_feature_grid_english.jade
include ../includes/copy/header_english.jade
include ../includes/copy/footer_english.jade

include ../includes/containers/markup_homepage_visit_2.jade