doctype html
html
  head
    meta(charset="utf-8")
    title Moneris 2016 Realize list of static templates
    meta(name="robots", content="noindex, nofollow")
  body
    //-
      h1 Template types
      ul
        li
          a(href="template-no-columns.html", title="Template: No columns", target="_blank") Template: No columns
        li
          a(href="template-left-sidebar.html", title="Template: Left sidebar", target="_blank") Template: Left sidebar
        li
          a(href="template-two-columns.html", title="Template: Two columns", target="_blank") Template: Two columns
        li
          a(href="template-three-columns.html", title="Template: Three columns", target="_blank") Template: Three columns
    h1 Pages
    h2 Homepage
    ul
      li
        a(href="index.html", title="Homepage visit 1 (English)", target="_blank") Homepage visit 1 (English)
      li
        a(href="homepage_visit_2_en.html", title="Homepage visit 2 (English)", target="_blank") Homepage visit 2 (English)
      li
        a(href="homepage_visit_3_en.html", title="Homepage visit 3 (English)", target="_blank") Homepage visit 3 (English)
      li
        a(href="homepage_visit_4_en.html", title="Homepage visit 4 (English)", target="_blank") Homepage visit 4 (English)
      //-
        li
          a(href="index_fr.html", title="Homepage (French)", target="_blank") Homepage (French)
        li
          a(href="category_page.html", title="Category page", target="_blank") Category page
        li
          a(href="article_page.html", title="Article page", target="_blank") Article page
        li
          a(href="product_tabbed_page.html", title="Product tabbed page", target="_blank") Product tabbed page
        li
          a(href="search_results_page.html", title="Search Results page", target="_blank") Search Results page
        li
          a(href="search_results_no_results_page.html", title="Search Results page (no results)", target="_blank") Search Results page (no results)
        li
          a(href="error_page.html", title="Error page", target="_blank") Error page
        li
          a(href="mobile_solutions.html", title="Mobile Solutions landing page (English)", target="_blank") Mobile Solutions landing page (English)
        li
          a(href="mobile_solutions_fr.html", title="Mobile Solutions landing page (French)", target="_blank") Mobile Solutions landing page (French)
    //-
      h1 Forms
      h2 Contact
      ul
        li
          a(href="apply_now_form.html", title="Apply Now form", target="_blank") Apply Now form
        li
          a(href="form_confirmation.html", title="Form Confirmation page", target="_blank") Form Confirmation page
        li
          a(href="contact_moneris_security_form.html", title="Contact Moneris Security form", target="_blank") Contact Moneris Security form
        li
          a(href="customer_relations_request_form.html", title="Customer Relations Request form", target="_blank") Customer Relations Request form
        li
          a(href="office_of_ceo_form.html", title="Office of the CEO form", target="_blank") Office of the CEO form
        li
          a(href="pos_software_partners_request_form.html", title="POS Software Partners Request form", target="_blank") POS Software Partners Request form
      h2 Subscription
      ul
        li
          a(href="do_not_call_form.html", title="Do Not Call form", target="_blank") Do Not Call form
        li
          a(href="subscribe_form.html", title="Subscribe form", target="_blank") Subscribe form
        li
          a(href="unsubscribe_form.html", title="Unsubscribe form", target="_blank") Unsubscribe form
        li
          a(href="gateway_services_subscription_form.html", title="Gateway Services Subscription form", target="_blank") Gateway Services Subscription form
      h2 Campaign
      ul
        li
          a(href="ecommerce_express_step_1_form.html", title="Ecommerce Express Application (step 1) form", target="_blank") Ecommerce Express Application (step 1) form
        li
          a(href="air_miles_form_english.html", title="Air Miles form (English)", target="_blank") Air Miles form (English)
        li
          a(href="air_miles_form_thank_you_english.html", title="Air Miles form (Thank You, English)", target="_blank") Air Miles form (Thank You, English)
        li
          a(href="air_miles_form_french.html", title="Air Miles form (French)", target="_blank") Air Miles form (French)
        li
          a(href="air_miles_form_thank_you_french.html", title="Air Miles form (Thank You, French)", target="_blank") Air Miles form (Thank You, French)
        li
          a(href="be_payment_ready_form_english.html", title="Be Payment Ready form (English)", target="_blank") Be Payment Ready form (English)
        li
          a(href="be_payment_ready_form_thank_you_english.html", title="Be Payment Ready form (Thank You, English)", target="_blank") Be Payment Ready form (Thank You, English)
        li
          a(href="be_payment_ready_form_french.html", title="Be Payment Ready form (French)", target="_blank") Be Payment Ready form (French)
        li
          a(href="be_payment_ready_form_thank_you_french.html", title="Be Payment Ready form (Thank You, French)", target="_blank") Be Payment Ready form (Thank You, French)
      h2 SVGs
      ul
        li
          a(href="svgs.html", title="SVGs catelogue", target="_blank") SVGs catelogue