$black: #000;
$white: #fff;
$black45: rgba($black, 0.45);
$headerBlue: rgba(5, 29, 51, 0.8);
$headerHoverBlue: #051d33;
$thirdLevelBlue: #1b3b58;
$loginBorderGrey: #1c1c1c;
$loginBorderBlue: #203548;
$footerBlue: #445666;
$footerBorder: #6a7680;
$teal: #1da897;
$darkTeal: #00667c;
$twitterBlue: #5acbf5;
$facebookBlue: #3273de;
$linkedinBlue: #077da8;
$canadaRed: #e12626;
$usaBlue: #2c3281;
$usaRed: #dc1b29;
$tileGrey: #eee;
$textGreyMed: #5f5f5f;
$tileTestimonialBg: #f4f4f4;
$airMilesSkyBlue: #00b6c8;
$airMilesDarkBlue: #00657d;
$hpChevronDownGrey: #828282;
$textGrey: #767676;
$iconBlue: #003c71;
$superLightGrey: #f9f9f9;
$headingUnderlineGrey: #d4d2dd;
$contactGrey: #454545;
$paragraphCircleLightBlue: #5ec5be;
$paragraphIconDarkBlue: #003c71;
$navHeadingGrey: #e6e8ea;
$formFieldsDarkGrey: #3a3838;
$alertRed: #eb4141;
$searchUrlsBlue: #7898b5;
$green: #529816;
$skyBlue: #009cab;
$orange: #fc4c02;
$yellow: #fce300;