header div.innerCont nav.globalNav.topLevel.li-0-0 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-1 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-2 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-3 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-4 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-5 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-6 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-7 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-8 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-9 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-10 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-11 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-12 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-13 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-14 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-15 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-16 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-17 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-18 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-0-19 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-0 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-1 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-2 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-3 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-4 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-5 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-6 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-7 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-8 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-9 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-10 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-11 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-12 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-13 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-14 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-15 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-16 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-17 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-18 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-1-19 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-0 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-1 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-2 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-3 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-4 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-5 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-6 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-7 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-8 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-9 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-10 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-11 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-12 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-13 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-14 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-15 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-16 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-17 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-18 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-2-19 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-0 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-1 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-2 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-3 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-4 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-5 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-6 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-7 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-8 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-9 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-10 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-11 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-12 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-13 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-14 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-15 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-16 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-17 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-18 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-3-19 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-0 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-1 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-2 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-3 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-4 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-5 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-6 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-7 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-8 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-9 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-10 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-11 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-12 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-13 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-14 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-15 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-16 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-17 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-18 div.tlWrap ul.topLevel,
header div.innerCont nav.globalNav.topLevel.li-4-19 div.tlWrap ul.topLevel {
  left: -50%;
  top: $headerHeight + $backButtonHeight;

  @media #{scrMinWidth($screen-sm-min)} {
    left: 0;
    top: 100%;
  }

  @media #{scrMinWidth($screen-md-min)} {
    top: 50%;
  }

}

header div.innerCont nav.globalNav.topLevel.li-0-0 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-1 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-2 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-3 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-4 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-5 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-6 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-7 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-8 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-9 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-10 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-11 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-12 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-13 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-14 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-15 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-16 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-17 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-18 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-0-19 div.tlWrap ul.topLevel li.li-0 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-0 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-1 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-2 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-3 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-4 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-5 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-6 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-7 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-8 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-9 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-10 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-11 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-12 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-13 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-14 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-15 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-16 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-17 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-18 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-19 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-0 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-1 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-2 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-3 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-4 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-5 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-6 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-7 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-8 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-9 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-10 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-11 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-12 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-13 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-14 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-15 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-16 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-17 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-18 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-2-19 div.tlWrap ul.topLevel li.li-2 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-0 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-1 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-2 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-3 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-4 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-5 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-6 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-7 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-8 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-9 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-10 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-11 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-12 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-13 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-14 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-15 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-16 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-17 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-18 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-3-19 div.tlWrap ul.topLevel li.li-3 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-0 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-1 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-2 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-3 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-4 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-5 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-6 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-7 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-8 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-9 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-10 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-11 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-12 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-13 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-14 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-15 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-16 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-17 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-18 div.tlWrap ul.topLevel li.li-4 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-4-19 div.tlWrap ul.topLevel li.li-4 ul.secondLevel {
  background-color: $headerHoverBlue;
  left: 50%;

  @media #{scrMinWidth($screen-sm-min)} {
    left: 33.33%;
  }

  @media #{scrMinWidth($screen-md-min)} {
    left: 0;
  }

  > li {

    a {
      @include avMed;

      span.text {
        text-decoration: none;

        svg.chevronRight {
          display: block;
        }

        svg.chevronRightBold {
          display: none;
        }

      }

      svg.divot {
        display: none;
      }

      &:hover, &:focus {

        @media #{scrMinWidth($screen-md-min)} {
          background-color: $darkTeal;
        }
        
      }

    }

  }

}

header div.innerCont nav.globalNav.topLevel.li-1-0 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-1 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-2 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-3 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-4 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-5 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-6 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-7 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-8 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-9 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-10 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-11 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-12 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-13 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-14 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-15 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-16 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-17 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-18 div.tlWrap ul.topLevel li.li-1 ul.secondLevel,
header div.innerCont nav.globalNav.topLevel.li-1-19 div.tlWrap ul.topLevel li.li-1 ul.secondLevel {

  @media #{scrMinWidth($screen-md-min)} {
    left: 126px;
  }

  html[lang="fr"] & {

    @media #{scrMinWidth($screen-md-min)} {
      left: 129px;
    }

  }

}

header div.innerCont nav.globalNav.topLevel.li-0-0 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-0,
header div.innerCont nav.globalNav.topLevel.li-0-1 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-1,
header div.innerCont nav.globalNav.topLevel.li-0-2 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-2,
header div.innerCont nav.globalNav.topLevel.li-0-3 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-3,
header div.innerCont nav.globalNav.topLevel.li-0-4 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-4,
header div.innerCont nav.globalNav.topLevel.li-0-5 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-5,
header div.innerCont nav.globalNav.topLevel.li-0-6 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-6,
header div.innerCont nav.globalNav.topLevel.li-0-7 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-7,
header div.innerCont nav.globalNav.topLevel.li-0-8 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-8,
header div.innerCont nav.globalNav.topLevel.li-0-9 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-9,
header div.innerCont nav.globalNav.topLevel.li-0-10 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-10,
header div.innerCont nav.globalNav.topLevel.li-0-11 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-11,
header div.innerCont nav.globalNav.topLevel.li-0-12 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-12,
header div.innerCont nav.globalNav.topLevel.li-0-13 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-13,
header div.innerCont nav.globalNav.topLevel.li-0-14 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-14,
header div.innerCont nav.globalNav.topLevel.li-0-15 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-15,
header div.innerCont nav.globalNav.topLevel.li-0-16 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-16,
header div.innerCont nav.globalNav.topLevel.li-0-17 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-17,
header div.innerCont nav.globalNav.topLevel.li-0-18 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-18,
header div.innerCont nav.globalNav.topLevel.li-0-19 div.tlWrap ul.topLevel li.li-0 ul.secondLevel > li.li-0-19,
header div.innerCont nav.globalNav.topLevel.li-1-0 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-0,
header div.innerCont nav.globalNav.topLevel.li-1-1 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-1,
header div.innerCont nav.globalNav.topLevel.li-1-2 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-2,
header div.innerCont nav.globalNav.topLevel.li-1-3 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-3,
header div.innerCont nav.globalNav.topLevel.li-1-4 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-4,
header div.innerCont nav.globalNav.topLevel.li-1-5 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-5,
header div.innerCont nav.globalNav.topLevel.li-1-6 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-6,
header div.innerCont nav.globalNav.topLevel.li-1-7 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-7,
header div.innerCont nav.globalNav.topLevel.li-1-8 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-8,
header div.innerCont nav.globalNav.topLevel.li-1-9 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-9,
header div.innerCont nav.globalNav.topLevel.li-1-10 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-10,
header div.innerCont nav.globalNav.topLevel.li-1-11 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-11,
header div.innerCont nav.globalNav.topLevel.li-1-12 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-12,
header div.innerCont nav.globalNav.topLevel.li-1-13 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-13,
header div.innerCont nav.globalNav.topLevel.li-1-14 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-14,
header div.innerCont nav.globalNav.topLevel.li-1-15 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-15,
header div.innerCont nav.globalNav.topLevel.li-1-16 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-16,
header div.innerCont nav.globalNav.topLevel.li-1-17 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-17,
header div.innerCont nav.globalNav.topLevel.li-1-18 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-18,
header div.innerCont nav.globalNav.topLevel.li-1-19 div.tlWrap ul.topLevel li.li-1 ul.secondLevel > li.li-1-19,
header div.innerCont nav.globalNav.topLevel.li-2-0 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-0,
header div.innerCont nav.globalNav.topLevel.li-2-1 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-1,
header div.innerCont nav.globalNav.topLevel.li-2-2 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-2,
header div.innerCont nav.globalNav.topLevel.li-2-3 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-3,
header div.innerCont nav.globalNav.topLevel.li-2-4 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-4,
header div.innerCont nav.globalNav.topLevel.li-2-5 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-5,
header div.innerCont nav.globalNav.topLevel.li-2-6 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-6,
header div.innerCont nav.globalNav.topLevel.li-2-7 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-7,
header div.innerCont nav.globalNav.topLevel.li-2-8 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-8,
header div.innerCont nav.globalNav.topLevel.li-2-9 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-9,
header div.innerCont nav.globalNav.topLevel.li-2-10 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-10,
header div.innerCont nav.globalNav.topLevel.li-2-11 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-11,
header div.innerCont nav.globalNav.topLevel.li-2-12 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-12,
header div.innerCont nav.globalNav.topLevel.li-2-13 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-13,
header div.innerCont nav.globalNav.topLevel.li-2-14 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-14,
header div.innerCont nav.globalNav.topLevel.li-2-15 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-15,
header div.innerCont nav.globalNav.topLevel.li-2-16 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-16,
header div.innerCont nav.globalNav.topLevel.li-2-17 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-17,
header div.innerCont nav.globalNav.topLevel.li-2-18 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-18,
header div.innerCont nav.globalNav.topLevel.li-2-19 div.tlWrap ul.topLevel li.li-2 ul.secondLevel > li.li-2-19,
header div.innerCont nav.globalNav.topLevel.li-3-0 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-0,
header div.innerCont nav.globalNav.topLevel.li-3-1 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-1,
header div.innerCont nav.globalNav.topLevel.li-3-2 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-2,
header div.innerCont nav.globalNav.topLevel.li-3-3 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-3,
header div.innerCont nav.globalNav.topLevel.li-3-4 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-4,
header div.innerCont nav.globalNav.topLevel.li-3-5 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-5,
header div.innerCont nav.globalNav.topLevel.li-3-6 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-6,
header div.innerCont nav.globalNav.topLevel.li-3-7 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-7,
header div.innerCont nav.globalNav.topLevel.li-3-8 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-8,
header div.innerCont nav.globalNav.topLevel.li-3-9 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-9,
header div.innerCont nav.globalNav.topLevel.li-3-10 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-10,
header div.innerCont nav.globalNav.topLevel.li-3-11 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-11,
header div.innerCont nav.globalNav.topLevel.li-3-12 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-12,
header div.innerCont nav.globalNav.topLevel.li-3-13 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-13,
header div.innerCont nav.globalNav.topLevel.li-3-14 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-14,
header div.innerCont nav.globalNav.topLevel.li-3-15 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-15,
header div.innerCont nav.globalNav.topLevel.li-3-16 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-16,
header div.innerCont nav.globalNav.topLevel.li-3-17 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-17,
header div.innerCont nav.globalNav.topLevel.li-3-18 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-18,
header div.innerCont nav.globalNav.topLevel.li-3-19 div.tlWrap ul.topLevel li.li-3 ul.secondLevel > li.li-3-19,
header div.innerCont nav.globalNav.topLevel.li-4-0 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-0,
header div.innerCont nav.globalNav.topLevel.li-4-1 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-1,
header div.innerCont nav.globalNav.topLevel.li-4-2 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-2,
header div.innerCont nav.globalNav.topLevel.li-4-3 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-3,
header div.innerCont nav.globalNav.topLevel.li-4-4 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-4,
header div.innerCont nav.globalNav.topLevel.li-4-5 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-5,
header div.innerCont nav.globalNav.topLevel.li-4-6 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-6,
header div.innerCont nav.globalNav.topLevel.li-4-7 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-7,
header div.innerCont nav.globalNav.topLevel.li-4-8 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-8,
header div.innerCont nav.globalNav.topLevel.li-4-9 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-9,
header div.innerCont nav.globalNav.topLevel.li-4-10 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-10,
header div.innerCont nav.globalNav.topLevel.li-4-11 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-11,
header div.innerCont nav.globalNav.topLevel.li-4-12 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-12,
header div.innerCont nav.globalNav.topLevel.li-4-13 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-13,
header div.innerCont nav.globalNav.topLevel.li-4-14 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-14,
header div.innerCont nav.globalNav.topLevel.li-4-15 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-15,
header div.innerCont nav.globalNav.topLevel.li-4-16 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-16,
header div.innerCont nav.globalNav.topLevel.li-4-17 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-17,
header div.innerCont nav.globalNav.topLevel.li-4-18 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-18,
header div.innerCont nav.globalNav.topLevel.li-4-19 div.tlWrap ul.topLevel li.li-4 ul.secondLevel > li.li-4-19 {

  a {
    @include avBlack;
    background-color: transparent;

    span.text {
      text-decoration: underline;

      span.icon-chevron_right_normal {
        display: none;
      }

      span.icon-chevron_right_bold {
        display: inline;
      }

      svg.chevronRight {
        display: none;
      }

      svg.chevronRightBold {
        display: inline-block;
      }

      svg.chevronRightBoldHoverTeal {
        display: none;
      }

    }

    svg.divot {
      display: block;
    }

    &:hover, &:focus {

      @media #{scrMinWidth($screen-md-min)} {
        background-color: $darkTeal;
      }

      span.text {

        svg.chevronRight {
          display: none;
        }

        svg.chevronRightBold {
          display: none;

          @media #{scrMinWidth($screen-md-min)} {
            display: inline-block;  
          }

        }

        svg.chevronRightBoldHoverTeal {
          display: inline-block;

          @media #{scrMinWidth($screen-md-min)} {
            display: none;  
          }

        }

      }

    }
    
    &:active {
      background-color: $darkTeal;

      @media #{scrMinWidth($screen-md-min)} {
        background-color: transparent;  
      }

      span.text {

        svg.chevronRightBold {
          display: inline-block;
        }

        svg.chevronRightBoldHoverTeal {
          display: none;
        }

      }

    }

  }

  ul.thirdLevel {
    background-color: $thirdLevelBlue;
    display: block;

    > li {

      a {
        @include avMed;
        background-color: $thirdLevelBlue;

        @media #{scrMinWidth($screen-md-min)} {
          background-color: $thirdLevelBlue;
        }

        span.text {
          text-decoration: none;

          span.icon-chevron_right_normal {
            display: inline;
          }

          svg.chevronRight {
            display: inline-block;
          }

          svg.chevronRightHoverTeal {
            display: none;
          }

          svg.chevronRightBold {
            display: none;
          }

        }

        &:hover, &:focus {
          color: $teal;

          span.text {

            svg.chevronRight {
              display: none;
            }

            svg.chevronRightHoverTeal {
              display: inline-block;
            }

          }

        }

      }

    }

  }

}

header div.innerCont nav.globalNav.topLevel.li-0-0 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-1 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-2 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-3 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-4 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-5 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-6 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-7 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-8 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-9 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-10 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-11 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-12 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-13 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-14 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-15 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-16 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-17 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-18 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-0-19 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-0 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-1 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-2 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-3 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-4 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-5 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-6 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-7 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-8 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-9 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-10 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-11 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-12 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-13 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-14 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-15 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-16 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-17 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-18 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-1-19 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-0 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-1 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-2 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-3 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-4 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-5 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-6 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-7 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-8 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-9 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-10 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-11 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-12 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-13 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-14 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-15 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-16 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-17 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-18 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-2-19 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-0 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-1 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-2 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-3 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-4 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-5 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-6 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-7 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-8 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-9 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-10 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-11 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-12 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-13 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-14 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-15 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-16 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-17 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-18 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-3-19 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-0 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-1 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-2 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-3 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-4 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-5 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-6 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-7 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-8 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-9 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-10 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-11 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-12 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-13 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-14 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-15 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-16 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-17 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-18 div.tlWrap,
header div.innerCont nav.globalNav.topLevel.li-4-19 div.tlWrap {

  a.backButton {
    display: block;

    @media #{scrMinWidth($screen-sm-min)} {
      display: none;  
    }

  }

  div.languageWrapper {
    left: -10000px;

    @media #{scrMinWidth($screen-sm-min)} {
      left: auto;  
    }

  }

}